h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    color: white;
    padding: 20px;
    margin: 0px;
    background-color: #3da35a;
    box-shadow: 0 8px 6px -6px rgb(197, 197, 197);
}
 
#banner-mobile{
    display: none;
    padding: 0;
    margin-top: 20px;
    vertical-align: middle;
}

#banner-pc{
    display: none;
    padding: 0;
    margin-top: 20px;
    vertical-align: middle;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

table{
    font-size-adjust: initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    box-shadow: 5px 5px #808080a3;
    border-radius: 5px;
    border: 1px solid black;
}

#message{
    text-align: center;
    font-size: 70px;
    color: white;   
    text-shadow: 2px 2px 10px #000000f5; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td{
   box-shadow: 2px 2px 6px #49bb69;
   border: 1px solid black;
   background-color: white;
   border-radius: 5px;
   overflow: hidden;
   vertical-align: middle;
   cursor: pointer;
}

td p{
    margin: -10px;
    -webkit-touch-callout: none; ;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    cursor: pointer;
}

button{
    background-color: #3da35a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: linear-gradient(#3da35a,#42b663, #3da35a);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
}

.example td {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

button:hover{
    background-color:  #49bb69;
    background: linear-gradient(#49bb69,#3da35a, #49bb69);
    background-position: 0 -50px;
    cursor: pointer;
}

#home{

    display: block;
    width: 30vw;
    padding: 20px;
    margin-left: 35vw;
    margin-right: 35vw;
}

#buttons{
    margin-top: 20vw;
}

#modal{
    display: none;
    position: absolute;
    top: 0;
    z-index: 1; 
    width: 100%; 
    height: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal2{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    width: 80%;
    vertical-align: middle;
    text-shadow: 2px 2px 10px #134c27;
}

#modal p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 20px;
}

.example p{
    margin: -1px 5px;
}

#intern-modal{
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 10px;
    align-content: center;
}

#intern-modal h3{
    background-color: #3da35a;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

#intern-modal div{
    height: auto;
    padding-bottom: 20px;
    margin: 0;
}
.current{
    border: 2px solid green; 
}

.green{
    background-color: lightgreen;
    color: lightgreen;
}

.green:hover{
    color: black;
}

h3 span{
    color: white;
    float: right;
    margin-right: 10px;
}

h3 span:hover,
h3 span:focus{
    color: lightslategray;
    cursor: pointer;
}
/* media query */

@media screen and (min-width: 0px) and (max-width: 449px){
    table{
       border-spacing: 0;
       width: 100vw;
       height: 100vw;
    }

    #home{
        display: block;
        width: 50%;
        padding: 20px;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    #intern-modal{
        margin: 0;
        width: 100%;
    }
    
    #modal2{
        top: 95vw;
    }

    .example{
        width: 80vw;
        height: 80vw;
        margin-left: 10vw;
    }

    #message{
        font-size: 50px;
    }

    #buttons {
        margin-top: 50vw;
    }
}

@media screen and (min-width: 450px) and (max-width: 1029px){

    table{
        width: 60vw;
        margin-left: 20vw;
        height: 60vw;
        border-spacing: 2px solid black;
        margin-right: 35vw;
    }

    #modal2{
        top: 50vw;
    }

    .example {
        width: 30vw;
        height: 30vw;
        margin-left: 25vw;
    }

    #buttons {
        margin-top: 50vw;
    }
}

@media screen and (min-width: 1030px){
    table{
        width: 40vw;
        margin-left: 30vw;
        height: 40vw;
        border-spacing: 2px solid black;
        margin-right: 35vw;
    }

    #modal2{
        top: 30vw;
    }

    .example {
        width: 30vw;
        height: 30vw;
        margin-left: 25vw;
    }

    #buttons {
        margin-top: 20vw;
    }
}

